<% @photos.each do |photo| %>
<div class="card photo-form ">
  <div class="card-body">
    
    <%= image_tag photo.image.url(:medium) %> <br>
    
  <strong><%= photo.description %></td> </strong><br>
  <%= link_to photo.user.email, profile_path(photo.user_id) if photo.user %><br>
  <%= link_to 'Показать', photo %>
  
  <% if photo.user == current_user %>
  | <%= link_to 'Редактировать', edit_photo_path(photo) %>
  | <%= link_to 'Удалить', photo, method: :delete, data: {confirm: 'Вы уверены?'} %>
  <% end %>
</div>
</div>

<% end %>
