<div class="jumbotron ">

  <% @photos.each do |photo| %>
      <!--<%= image_tag photo.image.url %>-->
      <%= image_tag photo.image.url(:thumb) %>

      <%= photo.description %></td>
      <%= photo.user.email if photo.user %>
      <%= link_to 'Показать', photo %>

      <% if photo.user == current_user %>
          <%= link_to 'Редактировать', edit_photo_path(photo) %>
          <%= link_to 'Удалить', photo, method: :delete, data: {confirm: 'Вы уверены?'} %>
      <% end %>
  <% end %>



  <br>
  <% if user_signed_in? %>
      <%= link_to 'Залить новое фото', new_photo_path, class: "btn btn-primary" %>
  <% end %>
</div>